form {
	max-width: 100vw;
	min-width: 10rem;
	padding: 2rem;
	h3 {
		text-align: center;
	}
	.inpts {
		width: 100%;
		display: flex;
		flex-direction: column;
		// border: 1px solid red;
		gap: 2rem;
		.form-inpt {
			display: flex;
			justify-content: space-between;
			label {
				align-self: center;
			}
			.inpt {
				background-color: $bg-1;
				border: 1px solid $gl-1;
				padding: 0.65rem 0;
				border-radius: 0.25rem;
				color: $txt-2;

				&:focus {
					outline: none;
					border: 1px solid $txt-2;
				}
			}
		}
	}
	button {
		border: 1px solid red;
	}
}
.lgn-frm {
	border: 1px solid red;
}
